.contact-desc {
  background-image: linear-gradient(rgba(32,29,57,0.6), rgba(32,29,57,0.6)), url(../img/contact-desc-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 44px;
  &__inner {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
      @media (min-width: $screen-xs) {
        padding-bottom: 73px;
      }
      @media (min-width: $screen-lg) {
        padding-left: 55px;
        padding-right: 55px;
      }
  }
  &__title {
    font-family: 'Jura';
    font-size: 20px;
    margin-top: 0;
      @media (min-width: $screen-sm) {
        margin-bottom: 0;
      }
  }
  &__row {
    display: flex;
      @media (min-width: $screen-xs) {
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 150px;
      }
      @media (min-width: $screen-sm) {
        flex-direction: row;
        max-height: 100%;
      }
      @media (min-width: $screen-lg) {
        flex-wrap: nowrap;
      }
  }
  &__item {
    @media (min-width: $screen-sm) {
      width: 25%;
      margin-top: 49px;
    }
    @media (min-width: $screen-lg) {
      width: 100%;
    }
  }
  &__region {
    position: relative;
    font-family: 'Jura';
      @media (min-width: $screen-xs) {
        font-size: 14px;
        margin: 17px 0;
        cursor: pointer;
      }
      @media (min-width: $screen-lg) {
        font-size: 20px;
      }
      &:before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #89c1a1;
        margin-right: 17px;

      }
  }
  &__region-info {
      @media (min-width: $screen-xs) {
        display: none;
      }
      @media (min-width: $screen-sm) {
        display: block;
      }
    }
  &__person {
    font-family: 'Ubuntu';
    font-weight: 400;
      @media (min-width: $screen-sm) {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 50px;
      }
      @media (min-width: $screen-lg) {
        font-size: 14px;
      }
  }
  &__link {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'Ubuntu';
      @media (min-width: $screen-xs) {
        font-size: 12px;
        margin-top: 23px;
      }
      @media (min-width: $screen-lg) {
        font-size: 14px;
      }
  }


}
