.footer {
  background-color: $blue;
  color: #fff;
    &__inner {
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      font-family: 'Ubuntu';
      font-size: 12px;
      max-width: 1200px;
      margin: 0 auto;
        @media (min-width: $screen-sm) {
          justify-content: flex-end;
        }
    }
      &__text {
        margin-right: 35px;
        font-size: 12px;
          @media (min-width: $screen-sm) {
            font-size: 14px;
          }
          @media (min-width: $screen-lg) {
            font-size: 16px;
          }
      }
}
