.legend-section {
   background-image: linear-gradient(rgba(32,29,57,0.6), rgba(32,29,57,0.6)), url(../img/legend-section-visual.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    @media (min-width: $screen-xs) {
      padding-top: 42px;
      padding-bottom: 71px;
    }
    @media (min-width: $screen-sm) {
      background: none;
      padding: 0;
    }
  &__inner {
      padding-left: 10px;
      padding-right: 10px;
      max-width: 1200px;
      margin: 0 auto;
    @media (min-width: $screen-sm) {
      display: flex;
      background-color: #eaeaec;
    }
    @media (min-width: $screen-lg) {
      padding-left: 55px;
      padding-right: 55px;
      background-color: #fff;
    }
  }

  &__info {

      @media (min-width: $screen-sm) {
        width: 50%;
      }
  }

  &__title {
    font-family: 'Jura';
    @media (min-width: $screen-xs) {
      color: #fff;
    }
    @media (min-width: $screen-sm) {
      color: $blue;
    }
  }
  .legend-slider {
    @media (min-width: $screen-xs) {
      margin-top: 59px;
    }

    &__text {
      font-family: 'Ubuntu';

      @media (min-width: $screen-xs) {
        color: #fff;
        line-height: 20px;
        font-weight: 400;
        font-size: 12px;
      }
      @media (min-width: $screen-sm) {
        color: $blue;
        padding-left: 64px;
        padding-right: 27px;
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
  .pagination {
    position: relative;
    display: flex;
    margin-top: 71px;
      @media (min-width: $screen-sm) {
        padding-left: 64px;
        margin-top: 70px;
        margin-bottom: 15px;
      }
      @media (min-width: $screen-lg) {
        margin-top: 109px;
      }

      &__item {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 27px;
        &--green {
          background-color: $green;
          border: 1px solid #95bcb4;
            &-active {
              background-color: #03eaa5;
            }
        }
      }
  }

 &__visual {
    display: none;

  @media (min-width: $screen-sm) {
    display: block;
    width: 50%;
  }
 }
// &__img {
//   width: 100%;
//   height: 100%;
//   background-image: url(../img/legend-section-visual.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
// }
 &__photo {
  width: 100%;
  height: 100%;
 }

.slick-arrow {
  position: absolute;
  @include sprite($slider-prev);
   &:nth-of-type(2) {
    transform: rotate(180deg);
      @media (min-width: $screen-sm) {
        top: 43%;
        right: -12%;
      }
      @media (min-width: $screen-lg) {
        top: 39%;
        right: -7%;
      }
   }
}
.slick-next:before {
    content: "";

}
.slick-prev:before {
    content: "";
}

.slick-prev {
    left: 0px;
}

}
