.modal-form {
    position: fixed;
    bottom: 0; left: 0; top: 0; right: 0;
    background: rgba(255,255,255,0.3);
    display: none;
    z-index: 1;
  .modal-content {
    background-color: #fff;
    color: #000;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 24px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 250px;
    z-index: 2;
    display: none;
    opacity: 0;
      .contact-desc__link {
        color: #000;
      }
  }
  .modal-close {
    position: absolute;
    right: 10px;
    top: -10px;
    cursor: pointer;
  }
}

