.reviews-section {
  background-color: #b2dad0;
  &__inner{
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 37px;
      padding-bottom: 17px;
      max-width: 1200px;
      margin: 0 auto;
    @media (min-width: $screen-lg) {
      padding-left: 55px;
      padding-right: 55px;
      padding-top: 73px;
      padding-bottom: 20px;
    }
  }
  &__title {
    color: #212027;
    margin: 0;
    font-family: 'Ubuntu';
    font-weight: 400;
    @media (min-width: $screen-xs) {
      font-size: 20px;
    }
    @media (min-width: $screen-lg) {
      font-size: 30px;
    }
  }

.reviews-slider {
    display: flex;
      @media (min-width: $screen-xs) {
        margin-top: 36px;
      }


  &__item {
    display: flex;
    &--text {
      background-color: #f7f7f7;
      color: #4d4b5c;
      font-family: 'Ubuntu';
      margin: 0;
        @media (min-width: $screen-xs) {
          padding: 25px 12px 33px 17px;
          font-size: 10px;
          line-height: 14px;
          margin-left: 37px;
        }
        @media (min-width: $screen-lg) {
          font-size: 16px;
          line-height: 24px;
          padding: 37px 26px 41px 30px;
        }
    }
    &-author {
      font-family: 'Ubuntu';
      font-weight: 400;
      line-height: 14px;
      font-size: 10px;
      @media (min-width: $screen-lg) {
        font-size: 16px;
      }
    }
    @media (min-width: $screen-sm) {
      width: 50%;
      margin-right: 20px;
    }
  }
  &__item-img {
    @media (min-width: $screen-xs) {
      width: 25%;
    }
    @media (min-width: $screen-sm) {
      width: 50%;
    }
  }
  &__item-foto {
    width: 100%;
  }
}
.pagination {
    position: relative;
    display: flex;
      @media (min-width: $screen-xs) {
        margin-top: 21px;
        justify-content: flex-end;
      }
      @media (min-width: $screen-sm) {
        justify-content: center;
      }

      &__item {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 27px;
        &--blue {
          background-color: #f7f7f7;
            &-active {
              background-color: #2f4159;
            }
        }
        &:last-child{
          margin-right: 19px;
        }
      }
  }

}


